body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#fondo {
    width: 100%;
    height: 100vh;
    background-image: url('achocalla.jpg'); /* tu fondo */
    background-size: cover;
    background-position: center;
    position: relative;
}

#alkamari {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: left 1s linear;
}
